.header {
  height: 85vh; /* 95% from the view height*/
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.801),
      rgba($color-primary-dark, 0.801)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative; /* this one herer to make the heder as a reference position to the div "logo-box" that is inside it, so the top and the left will count depending on the header class */
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 75vh,
      0 100%
    ); /* clip the edge*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /* clip the edge*/
    height: 95vh; /* 95% from the view height*/
  }
  //Video 63
  // on high resolution screen
  @media (min-ersolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.801),
        rgba($color-primary-dark, 0.801)
      ),
      url(../img/hero.jpg);
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(
      0 0,
      100% 0,
      100% 85vh,
      0 100%
    ); /* clip the edge*/
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); /* clip the edge*/
  }
  &__logo-box {
    //& => .header
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    /* center the box in the middel of the header*/
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
