.btn {
  &:link,
  &:visited {
    /* to make the visited link same as unvisited link*/
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s; /* make the transform 0.2 second*/
    position: relative;
    font-size: $default-font-size;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* (x y blur colore)*/
    &::after {
      transform: scaleX(1.4) scaleY(1.6); /*increase the size of the element */
      opacity: 0;
    }
  }
  &:active {
    /* active => on click*/
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;
    &::after {
      background-color: $color-primary;
    }
  }
  &::after {
    content: ""; /*::after always must have content */
    display: inline-block; /*becouse the btn inline-block */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*to put the after class behind the btn class  */
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; /*to prevent the button from appear
       before apllying the animation, because it alppy the 0% styles before the animation starts */
  }
}
.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block; // this is essential to make padding and margin work
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px); // move up
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0); // move up
  }
}
