.card {
  // animation an rotation settings
  perspective: 150rem;
  -moz-prespective: 150rem;
  height: 50rem; // this to reassign the collapsed height because of absolute position
  position: relative;
  &__side {
    height: 50rem;
    transition: all 0.8s ease;
    position: absolute; // this also make the div fit content
    top: 0;
    left: 0;
    width: 100%; // to prevent absulote position fit content
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    &--front {
      background-color: $color-white;
    }
    &--back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }
}
