*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*all elements inhert box-sizing value from thier parent element*/
}
/* the root element is always html */
html {
  /*
  font-size: 10px;
   this makes each 1rem = 10px so,
   whenever we change the pixels number here the whole style will change
   */
  // This defines what 1rem is, Video 18
  font-size: 62.5%; // 1rem = 10px: 10px/16px = 62.5%

  // width<1200?
  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px;  9/16= 56.25%
  }
  // width<900?
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px; 8/16= 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px; 12/16=75%
  }
}
body {
  box-sizing: border-box; /* make padding and the margin included in the spacifide width not added to the width */
  padding: 3rem; /* =30px */
  // width<900?
  @include respond(tab-port) {
    padding: 0;
  }
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
